<body>
<% if logged_in? && current_user.user_type == 'customer' %>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="center item active">
          <h1>Good day <%= current_user.first_name %>!</h1>
          <h2>Check out the best rates properties we have now!</h2>
          <%= link_to "View Properties", properties_path, class: 'btn btn-lg btn-success' %>
        </div>
        <div class="item">
          <h1 class="text-center">Hey!</h1>
          <h2 class="text-center">Customer shows here</h2>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
<% end %>
<% if logged_in? && current_user.user_type == 'property_owner' %>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="center item active">
          <h1>Good day <%= current_user.first_name %>!</h1>
          <h2>Upload your property image and details now!</h2>
        </div>
        <div class="item">
          <h1 class="text-center">Hey!</h1>
          <h2 class="text-center">Property Owner shows here</h2>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
<% end %>
<% if logged_in? && current_user.user_type == 'owner' %>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="center item active">
          <h1>Welcome back <%= current_user.first_name %>!</h1>
          <h2>There are 3 insepctions waiting you to allocate.</h2>
          <%= link_to "Allocate Inspection", '#', class: 'btn btn-lg btn-default' %>
        </div>
        <div class="center item">
          <h1 class="text-center">Hey!</h1>
          <h2 class="text-center">Owner shows here</h2>
          <div class="btn-group">
            <%= link_to "Add Property", '#', class: 'btn btn-lg btn-primary' %>
            <%= link_to "Update Property", '#', class: 'btn btn-lg btn-primary' %>
            <%= link_to "Remove Property", '#', class: 'btn btn-lg btn-primary' %>
          </div>

        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-6" style='border:1.5px black solid;'>
          <h2 class="text-center">Report</h2>
          <h3><%= "Total properties available -------------------------------- " + Property.all.count.to_s %></h3>
        </div>
      </div>
    </div>
<% end %>
<% if logged_in? && current_user.user_type == 'employee' %>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="center item active">
          <h1>Good day <%= current_user.first_name %>!</h1>
          <h2>Check your inspection assignments</h2>
        </div>
        <div class="item">
          <h1 class="text-center">Hey!</h1>
          <h2 class="text-center">Employee shows here</h2>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
<% end %>
<% if !logged_in? %>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="center item active">
          <h1>Welcome to the David's Rental</h1>

          <h2>
            Check out the best rates properties we have now!
          </h2>

          <%= link_to "Sign up now!", new_users_path, class: 'btn btn-lg btn-primary' %>
        </div>
        <div class="item">
          <h1 class="text-center">Hey!</h1>
          <h3 class="text-center"><%= image_tag '/properties/1.jpg' %></h3>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
<% end %>
</body>

