<% provide(:title, 'Sign up') %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "David's Rental", root_path, id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', home_path %></li>
        <li><%= link_to 'Help', help_path %></li>
        <li><%= link_to 'Log in', login_path %></li>
      </ul>
    </nav>
  </div>
</header>
<body>
<div class="container">
<h1 class="text-center" style="font-weight: bold">Sign up</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages_html' %>

          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>

          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <h6 style="color: #666666; font-style: italic">Password must be more than a combination of
            6 characters or numbers or mixed but less than 20.</h6>

          <%= f.label :user_type, 'User Type' %>
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <div class="radio-inline">
                <%= f.radio_button :user_type, 'customer', :checked => true %>
                <%= label :user_type, 'Customer' %>
              </div>

              <div class="radio-inline">
                <%= f.radio_button :user_type, 'property_owner' %>
                <%= label :user_type, 'Property Owner' %>
              </div>
            </div>
          </div>

          <div>
            <%= f.submit "Create my account", class: "btn btn-primary btn-block" %>
          </div>
      <% end %>
    </div>
  </div>
</div>

</body>