<body>
<table>
  <tbody>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center input-group">
        <%= form_tag(properties_path, :method => 'get') do %>
            <%= text_field_tag :search, params[:search], class: 'form-control', value: '',
                               placeholder: "Search Properties (Eg: Tait Street or Kelvin Grove or 4059 or QLD)" %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', class: 'btn btn-primary', :name => nil) do %>
                Search <i class="fa fa-search"></i>
              <% end %>
            </span>
        <% end %>
      </div>
    </div>
    <br>
    <% if @properties.blank? %>
        <div class="alert alert-danger text-center">
          <h4>There is no property containing the term <%= params[:search] %>.</h4>
        </div>
    <% end %>
    <div class="row">
      <% @properties.each do |property| %>
          <div class="col-md-4 text-center">
            <%= link_to property do %>
                <%= image_tag(property.picture_path, size: '300x180', alt: 'View') %>
            <% end %>
            <h4>
              <%= property.house_no + ", " + property.street + ", " + property.suburbs + ", " + property.postcode + " " + property.region %>
            </h4>
            <h4><i class="fa fa-dollar"></i> <%= property.price.to_s + " per week" %></h4>
            <%= link_to property, class: 'btn btn-default btn-block' do %>
                <h4><i class="fa fa-search-plus"></i> More Details</h4>
            <% end %>
            <br>
          </div>
      <% end %>
    </div>
  </div>
  </tbody>
</table>
</body>
