<body>
<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <div class="container">
    <div class="row">
      <% @properties.each do |property| %>
          <div class="col-md-4 text-center">
            <%= link_to property do %>
                <%= image_tag(property.picture_path, size: '300x180', alt: 'View') %>
            <% end %>
            <h4>
              <%= property.house_no + ", " + property.street + ", " + property.suburbs + ", " + property.postcode + " " + property.region %>
            </h4>
            <h4><i class="fa fa-dollar"></i> <%= property.price.to_s + " per week" %></h4>
            <%= link_to property, class: 'btn btn-default btn-block' do %>
                <h4><i class="fa fa-search-plus"></i> More Details</h4>
            <% end %>
            <br>
          </div>
      <% end %>
    </div>
  </div>
  </tbody>
</table>
</body>
